
@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.App {
    font-family: Verdana;
    text-align: center;
    overflow: hidden;
    .navbar-brand a{
        color: #fff;
    }
    .countList{
        position: absolute;
        background: red;
        color: #fff;
        padding: 0px 6px;
        border-radius: 4rem;
        font-size: 12px;
        font-weight: 600;
        bottom: 10px;
        right: 10px;
    }

    .btnAddCart{
        border-radius: 2rem;
        font-family: Verdana ;
        font-size: 15px;
        font-weight: 600;
    }

    .carList{
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: space-around;
        border-radius: 10px;
        border:1px solid #333;
    }

    .flcontainer{
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        font-family: Verdana ;
    }
    .flrow{
        flex-basis: 100%;
        justify-content: space-around;
        flex: 1;
        text-align: left;
        font-family: Verdana ;
        span{
           margin: 0px 15px 0px 0px;
        }
    }
   

    .qty .count {
        color: #000;
        display: inline-block;
        vertical-align: top;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        padding: 0 2px;
        width: 80px;
        text-align: center;
        border:0px;
    }
    .qty .plus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: white;
        width: 30px;
        height: 30px;
        font: 30px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 50%;
        }
    .qty .minus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: white;
        width: 30px;
        height: 30px;
        font: 30px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 50%;
        background-clip: padding-box;
    }


  }